@page
@model App_ToDoList.Pages.Tasks.TaskEditModel
@{
}

<h2>Task</h2>

<form action="" method="post">
    <div class="form-group">
        <label class="mb-1" asp-for="Title">Title:</label>
        <input class="d-block mb-2" type="text" asp-for="Title">
    </div>
    <div class="form-group">
        <label class="mb-1" asp-for="Description">Description:</label>
        <textarea class="d-block form-control mb-2 w-25" rows="3" asp-for="Description"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
