@page
@model App_ToDoList.Pages.Tasks.TaskEditModel
@{
}

<h2>Task</h2>

@* @if (Model) *@
@* { *@
    
@* } *@

<form action="" method="post" class="mb-3">
    <div class="form-group mb-3">
        <label class="form-label" asp-for="Title">Title:</label>
        <input class="d-block w-25" type="text" asp-for="Title">
        <span asp-validation-for="Title" class="alert-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="Description">Description:</label>
        <textarea class="d-block form-control w-25" rows="3" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="alert-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
