<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>

<body>
    <h1>Calculator</h1>
    <form action="" method="post">
        <div>
            <label for="num1">Number 1:</label>
            <input type="number" name="num1" required>
        </div>
        <div>
            <label for="num2">Number 2:</label>
            <input type="number" name="num2" required>
        </div>
        <div>
            <input type="radio" name="operation" value="+" checked>
            <label for="add">+</label>
            <input type="radio" name="operation" value="-">
            <label for="substract">-</label>
            <input type="radio" name="operation" value="*">
            <label for="multiply">*</label>
            <input type="radio" name="operation" value="/">
            <label for="divide">/</label>
        </div>

        <button type="submit">Calculate</button>
    </form>
</body>
</html>