@page
@model Homework1_Restaurant.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    
    <p>This is a really good and definitely real restaurant. Or pub. Or something. Good drinks, good food, <del>definitely no fae food here</del>.</p>
</div>
