@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our restaurant's page!</h1>
    <img class="img-fluid img-thumbnail" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvagabondtoursofireland.com%2Fimages-adventures%2Fblog%2Fdublin-pubs%2Flong-hall-interior.jpg%3Fw2048&f=1&nofb=1&ipt=aeb97e3dfd24efbf220b1e8ed643a411e8eeb5f23d5309dab569ebf55af9e38e" alt="Image of a restaurant">
</div>
