@page
@model Homework1_Restaurant.Pages.WhereModel
@{
	ViewData["Title"] = "Addresses";
}

<div class="text-center">
    <h1 class="display-4">Our addresses</h1>

    <ul class="list-unstyled">
        <li>693 Rowe Fork Apt. 408, Galway </li>
        <li>3440 Laurine Courts, Galway</li>
        <li>39108 Brielle Bridge Apt. 574, Dublin</li>
        <li>353 Rosalia Loop, Dublin</li>
        <li>87159 Lyla Mountains, Limerick</li>
        <li>599 Queenie Prairie Suite 529, Cork</li>
    </ul>
</div>